// NAVBAR
.global-nav {
  display: flex;
  position: relative;
  align-items: center;
  height: $global-navbar-height;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.logo-link { display: inline-block; }

.global-nav__big-logo {
  display: none;
  margin: 0 25px;
  height: 50px;
  width: 125px;
  pointer-events: none;

  @media (min-width: 861px) { display: inline;}
}

.global-nav__small-logo {
  display: none;
  margin: 0 25px 0 15px;
  height: 40px;
  width: 46px;
  pointer-events: none;

  @media (max-width: 860px) { display: inline;}
}

.global-nav__tab {
  margin: 0 25px 0 0;
  font-size: 1.2rem;
  line-height: $global-navbar-height;
  color: $grab-light-green;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.15s;

  &:visited { text-decoration: none; }
  &:active  { text-decoration: none; }
  &:focus   { text-decoration: none; }
  &:hover   {
    color: $grab-dark-green;
    text-decoration: none;
  }

  @media (max-width: 860px) {
    margin-right: 0 20px 0 0;
    letter-spacing: 0;
  }

  @media (max-width: 721px) { display: none; }
}

.global-nav__mobile-tab {
  display: block;
  font-size: 1.2rem; /*this will need to change when boostrap goes away...*/
  line-height: $global-navbar-height;
  color: $grab-light-green;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
  transition: color .15s;

  &:visited { text-decoration: none; }
  &:active  { text-decoration: none; }
  &:focus   { text-decoration: none; }
  &:hover   {
    color: $grab-dark-green;
    text-decoration: none;
  }

  @media (max-height: 375px) {
    height: 50px;
    line-height: 53px;
  }
}

.global-nav__login {
  position: absolute;
  right: 0;
  top: 0;
}

.global-nav__side-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 33px;
  transform: translateY(44%);
  -webkit-transform: translateY(44%);

  @media (max-width: 721px) { display: block; }
}

.global-nav__side-nav {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: transform 0.25s;

  &--opened {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  @media (max-width: 720px) { display: block;}
}

.global-nav-overlay {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  transition: opacity .25s;

  &--active {
    opacity: .5;
    @media (max-width: 720px) { display: block; }
  }
}


